html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  height: 100%;
  width: 100%;
}
